<!-- Heading -->



 <!--
<nav class="navbar navbar-dark bg-primary">
  Navbar conten
</nav>

<nav class="navbar navbar-light" style="background-color: #e3f2fd;">
</nav> -->


<div class="container-fluid">
  <nav class="navbar navbar-expand-lg navbar-light  sections" id="naviUp">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
     <li class="nav-item"><a class="nav-link" href="#summary">Summary</a></li>
     <li class="nav-item"><a class="nav-link" href="#skills">Skills</a></li>
     <li class="nav-item"><a class="nav-link" href="#experience">Experience</a></li>
     <li class="nav-item"><a class="nav-link" href="#education">Education</a></li>
     <li class="nav-item"><a class="nav-link" href="#projects">Projects</a></li>
    </ul>
  </div>
</nav>
<div class="row">
    <div class="col-sm-4" id="header">
  
        <header  >
            <div class="containers" >
                <p style="text-align: center"><img src="{{image}}" alt="Personal Image" style="width: 90%"
                        style="text-align: center"></p>
                <nav class="contact">
                    <ul>
                        <li><a href="mailto:{{links.mail}}"><i class="fa fa-envelope"></i></a></li>
                        <li><a href={{links.linkdin}}><i class="fa fa-globe"></i></a>
                        </li>
                        <li><a href={{links.github}} title="Github" target="_blank"><i class="fa fa-github"></i></a>
                        </li>
                    </ul>
                </nav>

                {{!-- <nav class="sections">
                    <ul>
                        <li><a href="#summary">Summary</a></li>
                        <li><a href="#skills">Skills</a></li>
                        <li><a href="#experience" data-toggle="collapse" data-target="#sss">Experience</a></li>
                        <li><a href="#education">Education</a></li>
                        <li><a href="#projects">Projects</a></li>
                        <li><a href="#side-projects">Side Projects</a></li>
                    </ul>
                </nav> --}}
                <section class=" ">
                    <div class="containers" >
                        <h3><i class="fa fa-globe"></i> Languages</h3>
                        <section>
                            <ul>
                                {{#if languages}}
                                {{#each languages}}
                                <li>{{this.name }} : {{this.level}} </li>
                                {{/each}}
                                {{/if}}
                            </ul>
                        </section>


                    </div>
                </section>

                <a href="/"><i class="fa fa-chevron-up" style="position: fixed"></i></a>
               

            </div>
        </header>

    </div>
    <div class="col-sm-8 offset-sm-4">
            

 <nav class="navbar navbar-expand-lg navbar-light  sections" id="naviDown">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
     <li class="nav-item"><a class="nav-link" href="#summary">Summary</a></li>
     <li class="nav-item"><a class="nav-link" href="#skills">Skills</a></li>
     <li class="nav-item"><a class="nav-link" href="#experience">Experience</a></li>
     <li class="nav-item"><a class="nav-link" href="#education">Education</a></li>
     <li class="nav-item"><a class="nav-link" href="#projects">Projects</a></li>
    </ul>
  </div>
</nav>
        <div class="jambotron" style="margin-top: 1%">
            <h1 class="display-4 name">&lt;{{name}} /&gt;</h1>
        </div>

        <h2 style="text-align: center">{{title}}</h2>


        <!-- Summary -->
        <section id="summary" class="section">
            <div class="containers">
                <h3> <i class="fa fa-user-o"></i> Summary</h3>
                <p>
                    {{objective}}
                </p>
            </div>
        </section>



        <!-- Skills -->
        <section id="skills" class="section Super light green overlay">
            <div class="containers">
                <h3> <i class="fa fa-tasks"></i> Skills</h3>
                <section>
                    {{#if skills}}
                    {{#each skills}}
                    <i> {{this.name }} &nbsp;&nbsp;</i>
                    {{/each}}
                    {{/if}}
                </section>

            </div>
        </section>

        <!-- Experience -->
        <section id="experience" class="section">
            <div class="containers">
                
                <h3 data-toggle="collapse" data-target="#sss"> <i class="fa fa-suitcase"></i> Experience</h3>
                {{#if experince}}
                {{#each experince}}
                <section class="job " id="sss">
                    <h4>{{this.employer}} <span class="date">{{this.startDate}} - {{this.endDate}}</span></h4>
                    <span class="title">{{this.position}}</span>
                    <p><small> {{this.workDescription}} </small>

                    </p>
                </section>
                {{/each}}
                {{/if}}
            </div>
        </section>
        <!-- Education -->
        <section id="education" class="section">
            <div class="containers">
                <h3>  <i class="fa fa-graduation-cap"></i>  Education</h3>

                {{#if education}}
                {{#each education}}
                <section class="qualification">
                    <h4>{{this.subject}} <span class="date">{{this.startDate}} - {{this.endDate}}</span></h4>
                    <p>{{this.university}}</p>
                </section>
                {{/each}}
                {{/if}}
            </div>
        </section>


        <!-- Additional -->
        <!-- <section  class="section ">
            <div class="containers">
                <h2>Extra</h2>
                <ul>
                    <li> driver's license.</li>
                </ul>
            </div>
        </section> -->

        <section class="">
            <div class="containers">
                <p class="quote">&ldquo;Generally, the craft of programming is the factoring of a set of requirements
                    into a a
                    set of functions and data structures.&rdquo;</p>
                <p class="quote">&ldquo;- Douglas Crockford -&rdquo;</p>
            </div>
        </section>


    </div>

</div>
</div>